@using ITI_Management_System.ViewModels
@model ITIEntities.Models.Department

@{
    Layout = "_Layout";
    ViewData["Title"] = "Department Details";
}

<div class="container mt-5 d-flex justify-content-center">

    <div class="card shadow-lg" style="width: 22rem;">
        <div class="card-body">
            <h5 class="card-title text-primary fw-bold">
               DeptID: @Model.DeptId
            </h5>

            <h5 class="card-title text-primary fw-bold">
                DeptName: @Model.DeptName
            </h5>


            <h6 class="card-subtitle mb-3 text-muted">
                Capacity: @Model.Capacity students
            </h6>

            <hr />

            <!-- Buttons -->
            <div class="d-grid gap-2">
                <a asp-action="Index" class="btn btn-secondary">
                    Back to Departments List
                </a>
            </div>

        </div>
    </div>

</div>